.App {
  height: 100%;
  position: relative;
}

.map-container {
  position: absolute;
  bottom: 0;
  top: 60px;
  width: 100%;
  z-index: 100;
}

.registry-entities-container {
  position: absolute;
  bottom: 20px;
  top: 80px;
  left: 20px;
  width: 400px;
  z-index: 200;
  background-color: white;
  border-radius: 4px;
  box-shadow: -2.1px 2.1px 7px 0 rgba(0, 0, 0, 0.15), 1.9px 2.3px 7px 0 rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
}

.registry-entity-show-container {
  position: absolute;
  bottom: 20px;
  top: 80px;
  left: 420px;
  width: 400px;
  z-index: 200;
  background-color: white;
  border-radius: 4px;
  box-shadow: -2.1px 2.1px 7px 0 rgba(0, 0, 0, 0.15), 1.9px 2.3px 7px 0 rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
}

.close-button-container {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  top: 10px;
  z-index: 300;
}

.hidden { display: none; }

.registry-entity-row:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.registry-entity-row {
  padding: 16px 0 16px 0;
  margin: 0 16px 0 16px;
}

.registry-entities-image-container {
  width: 90px;
  height: 90px;
}

.registry-entities-image-container img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.mainHeader {
  width: 100%;
  height: 60px;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.16);
  background-color: #2d5674;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.nav-links-container div:not(:first-child) {
  margin-left: 20px;
}

.nav-links-container a {
  color: #ffffff;
}

.bg_card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: -2.1px 2.1px 7px 0 rgba(0, 0, 0, 0.15), 1.9px 2.3px 7px 0 rgba(0, 0, 0, 0.15);
  margin-top: 110px;
}

.Tellurium_logo {
  width: 230px;
  height: 50px;
  object-fit: contain;
  margin: 50px auto 0 auto;
  display: block;
}

.Tellurium_logo_white {
  width: 167px;
  height: 18px;
  object-fit: contain;
  margin-top: 24px;
}

.art {
  width: 299px;
  height: 276px;
  object-fit: contain;
  margin: 32px auto 0 auto;
  display: block;
}

.separator_hor {
  border-right: 1px solid #e6e9ed;
}

.signin_via_metamask_button_container {
  width: 260px;
  margin: 140px auto 0 auto;
}

.signin_as_notary_button_container {
  width: 260px;
  margin: 20px auto 225px auto;
}

.signin_via_metamask_button {
  width: 260px;
  height: 39px;
  border-radius: 4px;
  background-color: #fe8100;
  color: white;
}

.signin_as_notary_button {
  width: 260px;
  height: 39px;
  border-radius: 4px;
  border: solid 1px #2d5674;
  background-color: #ffffff;
}

.Welcome {
  height: 50px;
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  margin-top: 52px;
  color: #2d5674;
}

.Notary-Page {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: center;
  color: #3c424b;
}

.With-Proof-of-Ownership {
  margin-bottom: 82px;
  text-align: center;
  color: #2d5674;
}