<div style='background-color: #f3f3f3; padding-bottom: 87px;'>
  <div style='width: 272px; margin: 0px auto 0 auto; padding-top: 40px; text-align: center; font-size: 14px; line-height: 24px;'>
    Hello, you’ve been invited to Tellus Title.
    Please, accept invite by clicking the <a target="_blank" style='color: #fe8100;' href='<%= href %>'>link</a>.
  </div>
  <div style='width: 600px; margin: 12px auto 0 auto; background-color: #ffffff;'>
    <div style='width: 344px; margin: 0 auto 0 auto; text-align: center;'>
      <div style='padding-top: 50px;'>
        <img src="http://18.195.159.148:5000/tellurium-logo.png" />
      </div>

      <img src="http://18.195.159.148:5000/art.jpg" />

      <br />

      <div style='line-height: 24px; font-size: 16px;'>
        With Proof of Ownership on the Blockchain property owners
        can express their real estate rights in the crypto
        economy with our Patent Pending Blockchain Protocol.
      </div>

      <div style='margin-top: 50px; padding-bottom: 160px;'>
        <a href='<%= href %>' target="_blank" style='width: 160px; background-color: #fe8100; border-radius: 4px; height: 39px; color: white; display: block; margin: 0 auto 0 auto; line-height: 39px; font-size: 16px; font-weight: 500; text-decoration: none;'>Accept invite</a>
      </div>
    </div>
  </div>
</div>